@media #{$info-ipad} {
  .ant-table table {
    overflow-x: auto;
    display: block;
  }
}


.ant-table {
  .btn-list {
    &.justify-content-end {
      min-width: 120px;
      margin-left: auto;
    }
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    min-width: 80px;
  }

}

